:root {
    --Cor-principal: #F5EFD7;
    --Cor-secundária: #8B4513;
    --Cor-terciaria: #05111F;
    --Cor-acento: #FF8C00;
    --Cor-texto: #333333;
}


body {
    background-color: var(--Cor-principal);
    color: var(--Cor-texto);
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    font-weight: 400;
}